.cardMsg {
  padding-bottom: 1vw;
  padding-left: 2vw;
  width: 18vw;
}

.cardMsg:hover {
  background-color: hsla(13, 94%, 66%, 0.441);
}

.cardMsg h1 {
  padding-top: 0.2vw;
  font-size: 1.5rem;
  text-align: start;
}

.cardMsg p {
  font-size: 1rem;
  text-align: start;
  margin-left: 0.5vw;
}
