.navbar {
  position: fixed;
  top: 1vh;
  right: 0px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.white,
.white a {
  color: white;
}

.orange,
.orange a {
  color: black;
}

.white,
.orange {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.orange > div {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  /* color: white; */
  text-decoration: none;
  font-size: 1.8rem;
}
