.navbar {
  position: fixed;
  top: 1vh;
  right: 0px;
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.navbar button {
  width: 5vw;
  height: 2vw;
}

.white,
.white a {
  color: white;
}

.orange,
.orange a {
  color: black;
}

.white,
.orange {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.orange > div {
  width: 50vw;
  display: flex;
  justify-content: space-around;
}

.orange > div a {
  font-size: 1.2rem;
}

.navbar a {
  /* color: white; */
  text-decoration: none;
  font-size: 1.8rem;
}

.orange img {
  width: 5vw;
}

.white img {
  width: 5vw;
}

img.NBimg {
  width: 1vw;
  height: 1vw;
  margin-right: 0.2vw;
}

.NBtickets {
  color: #6e2594;
  font-size: 1.4rem;
}
/* .orange > div > img {
  width: 1vw;
  height: 1vw;
} */
