.profilePage {
  margin: 5vw;
}

.flexProfil {
  display: flex;
  font-size: 1rem;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
}

.profilePage {
  font-size: 2rem;
}

.PPnewLesson img {
  width: 5vw;
  margin-bottom: 1vw;
}

.PPnewLesson {
  font-size: 1vw;
  text-align: center;
  color: hsl(13, 94%, 66%);
}
